
.but{
	color: white;
	background-color: rgb(147, 145, 145);
	border-color: rgb(255, 255, 255);
	border-radius: 100px;
	min-width: 70px;
	min-height: 70px;
	margin: 8px;
	font-size: 25px;
	font-weight: 900;
	color: rgb(0, 0, 0);
}